:root {
    --white: #ffffff;
    --black: #000000;
    --beige: #fffaec;
    --light-grey: #eee;
    --grey: #ddd;
    --dark-grey: #666;
    --darknes-grey: #3c4048;

    --zian-green: #0d3023;
    --red: #ff0000;
    --aqua: #00796b;
}
