@import './variables.scss';

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

* {
    box-sizing: border-box;
}

.container {
    width: 1440px;
    padding: 0 70px;
    margin: 0 auto;
}

a {
    color: var(--beige);
}
