@import '../../styles/variables.scss';

.header {
    width: 100%;
    background-color: var(--zian-green);
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;

    &__wrapper {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    &__link {
        font-size: 1.125rem;
        display: inline-block;
        color: var(--beige);
        text-transform: uppercase;
        padding: 20px 0;
    }
}
